* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

.buttons {
    margin: 50px;
}

.buttons button {
    background: #333;
    color: #fff;
    border: 0;
    outline: 0;
    width: 120px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
}

#toastBox {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}

.toast {
    background: #fff;
    width: 400px;
    height: 80px;
    font-weight: 500;
    margin: 15px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-size: 20px;
    padding: 0 20px;
    border-radius: 5px;
}

.toast i {
    margin: 0 20px;
    font-style: 35px;
    counter-reset: green;
}